BasedOnStyle: Google
Language: Cpp
Standard: c++20

IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline

BreakBeforeBraces: Attach
NamespaceIndentation: None
FixNamespaceComments: true

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
    SortPriority: 1
  - Regex: '^<.*>'
    Priority: 2
    SortPriority: 2
  - Regex: '^".*"'
    Priority: 3
    SortPriority: 3

DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
Cpp11BracedListStyle: true
